@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i');

.menu,
.site {
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3em;
  line-height: 2;
  text-transform: none;
}

.menu {
  font-size: 14px;
}

.header__main,
.menu__names {
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  line-height: 1.25;
  text-transform: none;
}

.menu__names {
  font-size: 25px;
}

.menu__name:first-child {
  margin-right: -0.1em;
}
.header__date {
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3em;
  line-height: 2;
  text-transform: none;
}

.and {
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}

.header__and {
  line-height: 2;
  min-width: 2em;
  min-height: 2em;
  letter-spacing: 0.3em;
}

.section__heading {
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3em;
  line-height: 2;
  text-transform: none;
}

.section__title {
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3em;
  line-height: 2;
  text-transform: none;
}

.section__label {
  font-family: 'Alegreya SC', serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.3em;
  line-height: 2;
  text-transform: none;
}
