@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
 html, body, .container {
	 height: 100%;
	 font-family: "Kaushan Script", "Sail", cursive;
}
 body {
	 margin: 0;
	 background-color: #e8bc8d;
	 height: 100vh;
}
 .container {
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 height: 100vh;
}
 .gift-container {
	 display: flex;
	 justify-content: center;
}
 .gift {
	 position: absolute;
	 z-index: 2;
}
 .gift__cover {
	 display: flex;
	 justify-content: center;
	 background-color: #34495e;
	 height: 4rem;
	 width: 19rem;
}
 .gift__cover__wrap {
	 position: absolute;
	 height: 4rem;
	 width: 4rem;
	 background-color: #d39598;
}
 .gift__cover__wrap::before {
	 content: "";
	 display: block;
	 position: absolute;
	 top: -4rem;
	 box-shadow: inset 0 0 0 1rem #d39598;
	 border-radius: 2rem;
	 height: 4rem;
	 width: 4rem;
	 transform: translateX(-45%) skewY(40deg);
}
 .gift__cover__wrap::after {
	 content: "";
	 display: block;
	 position: absolute;
	 top: -4rem;
	 box-shadow: inset 0 0 0 1rem #d39598;
	 border-radius: 2rem;
	 height: 4rem;
	 width: 4rem;
	 transform: translateX(45%) skewY(-40deg);
}
 .gift__cover.animate__wobble {
	 animation: wobble 0.5s linear infinite 0.1s forwards;
}
 .gift__cover.animate__open {
	 animation: flyUp 0.4s ease-in forwards;
}
 .gift__container {
	 display: flex;
	 justify-content: center;
	 position: relative;
	 margin: 0 1rem;
	 z-index: -1;
	 top: -0.75rem;
	 height: 10rem;
	 width: 17rem;
	 background-color: #34495e;
}
 .gift__container__label {
	 display: block;
	 position: absolute;
	 top: 4rem;
	 font-size: 1.5rem;
	 transform: rotate(-20deg);
	 color: white;
}
 .gift__container__wrap {
	 position: absolute;
	 height: 10rem;
	 width: 4rem;
	 background-color: #d39598;
}
 .gift__container::after {
	 content: "";
	 display: block;
	 width: 100%;
	 height: 2rem;
	 background-color: rgba(0, 0, 0, 0.2);
	 z-index: 1;
}
 .gift__container.animate__open {
	 animation: flyDown 0.2s ease-in forwards;
}
 .gift.animate__wobble {
	 animation: wobble 0.5s linear infinite forwards;
}
 .card {
	 display: flex;
	 align-items: center;
	 background-color: white;
	 border: solid 2px #34495e;
	 border-radius: 1.25rem;
	 padding: 2rem 2rem 2rem 1rem;
	 margin: 2rem;
	 transform: scale(10%);
	 z-index: 1;
}
 .card img {
	 border-radius: 1.25rem;
	 height: 10rem;
	 width: 10rem;
}
 .card__text {
	 color: #34495e;
}
 .card__text__greeting {
	 font-size: 1.5rem;
}
 .card__text__greeting__hbd {
	 -webkit-text-stroke-width: 0.1px;
	 -webkit-text-stroke-color: black;
}
 .card__text__sign {
	 font-size: 1.2rem;
	 text-align: right;
}
 .card.animate {
	 animation: zoomIn 0.8s ease-in forwards;
}
 @keyframes wobble {
	 25% {
		 transform: rotate(4deg);
	}
	 75% {
		 transform: rotate(-2deg);
	}
}
 @keyframes flyUp {
	 75% {
		 opacity: 1;
	}
	 100% {
		 transform: translateY(-1000px) rotate(20deg);
		 opacity: 0;
	}
}
 @keyframes flyDown {
	 75% {
		 opacity: 1;
	}
	 100% {
		 transform: translateY(150%);
		 opacity: 0;
	}
}
 @keyframes zoomIn {
	 100% {
		 transform: scale(100%) rotateZ(360deg) rotateX(360deg);
	}
}
 
