.main-page {
  background-color: #FFFBF2;
}

.gowun-batang-bold {
  font-family: "Gowun Batang", serif;
  font-weight: 700;
  font-style: normal;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.pretended-regular {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.font-color {
  color: #44372E;
}

.name {
  margin-top: 27%;
  text-align: center;
  font-size: 2.3em;
}

.date {
  text-align: center;
  font-size: 1.3em;
}

.main-img {
  width: 90%;
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

.yakdo-img {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.divider {
  border: none;
  height: 0.01rem;
  background-color: #44372E;
  color: #44372E;
  width: 7%;
  margin-top: 5%;
}

.text-section {
  text-align: center;
  width: 100%;
  word-break: keep-all;
  margin-top: 5%;
  font-size: 1.15em;
}

.gallery {
  box-sizing: border-box;
  margin: 0;
  margin-top: 5%;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.bank-account-section {
  margin-top: 7%;
  margin-bottom: 7%;
}

.bank-account {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #FFFBF2;
  color: #44372E;
  border: 0.05rem solid;
  border-color: #44372E;
  cursor: pointer;
  padding-left: 20px;
  padding: 10px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  outline: none;
  font-size: 1.15em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #FFFBF2;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #FFFBF2;
  color: #44372E;
  border-color: #44372E;
  cursor: pointer;
  margin-left: 10%;
  margin-right: 10%;
  outline: none;
  font-size: 1.15em;
}

.collapsible:after {
  content: '\02EF';
  font-size: 1.5em;
  float: right;
  margin-left: 5px;
  margin-top: -0.8em;
}

.active:after {
  content: "\02F0"; /* Unicode character for "minus" sign (-) */
}
